@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root { 
        --blue: #10162F; 
        --dar-blue:#10162F;
        --white:#FFF0E5;
        --gray:#D9D9D9; 
        --standardFontSizeHeader: 49px;
        --standard_font-size-sem-header:19px;
    
}

 html {
     scroll-behavior: smooth;
 }
body{
    margin: 0;
    font-family: 'Lexend', sans-serif; 
    background:var(--white);
    font-weight: normal;
   
}
.svg-icon {
    width: 1em;
    height: 1em;
    
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--dar-blue);
}

.svg-icon circle {
    stroke: var(--dar-blue);
    stroke-width: 1;
}
@media screen and (min-width: 901px) {
.container {
        margin: 0 13%;
    }
 
}

@media screen and (max-width: 901px) {
.container {
        margin: 0 4%;
    } 
}


.Navbar{ 
    background-color: var(--white);
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px;
    transition: 0.4s;
    justify-content:space-between;
    width: 100%; 
}


.burger_button {
    display: none; 
    justify-content: right; 
}
.burger_button .span1{
    background-color: var(--dar-blue);
    display: block;
    width: 30px;
    height: 5px;  
    margin: 5px; 
    
}

.burger_button .span2 {
    background-color: var(--dar-blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}
.burger_button .span3 {
    background-color: var(--dar-blue);
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px;

}
.burger_button .span4 {
    background-color: var(--dar-blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}


.close svg{
    
    color: var(--dar-blue);
    width: 26px;
    height: 35px;
}


@media screen and (min-width: 901px) {

.NavItems_icons {
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: row;
    }
    
.Nav_items {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}
}

@media screen and (max-width: 901px) {
    .Navbar {
            background: #fff;
        }
    
    .NavItems_icons{
        background-color: var(--dar-blue);
        display: none;
        position: absolute;
        right: 0;  
        top: 39px;
        width: 100%;
        flex-direction: column;
    }

    .Nav_items {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

 
        .burger_button{
            display: block;
        }

    .topnav a.icon {
        float: right;
        display: block;
    }
    
}
 
.logo {
    width: 50px;
    height: 40px;
}

.logo  img {
    width: 100%;
    height: 100%;
}

.Nav_items li a {
    color: var(--dar-blue);
    text-decoration: none;
    font-weight: normal;
    transition: 0.4s;
}

.Nav_items li:hover {
    color: var(--white);
    text-decoration: underline;
}

.Nav_items li .active{
    color: var(--blue);
    text-decoration: underline;
}
 .Nav_items_icons{
    display: flex;    
 }
  .Nav_items_icons hr{
        padding: 0px;
        margin: 0;
        height: 30px;
        margin-top:10px;
        margin-left: 40px;
  }
  
 .Nav_items_icons ul{
    display: flex; 
    column-gap: 10px;
    justify-content: start;
 }

.Nav_items_icons ul li {
    list-style-type:none;
}

@media screen and (min-width: 901px) {
   .Section_header{
        margin: 60px 0; 
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: space-between;
    } 
}
h1 {
    color: var(--dar-blue);
    font-size: 45px;
    padding: 0px;
    margin: 0px;

}
.header h5 {
    color: var(--blue);
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;


}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
    .header h5 {
        margin: 0;
        font-size: 18px;
        padding: 0;
        font-weight: normal;
    }
}






.Section_header .Content_1{
    margin-top: 36px;  
    padding-top: 50px;
}
 
.Section_header .Content_1 h1{
    color: var(--dar-blue);
    transition: 0.4s;
    font-size: var(--standardFontSizeHeader);
    margin: 10px 0px;
    padding: 0;
    font-weight: normal;
}

 
.Section_header .Content_1 p {
    transition: 0.4s;
    margin: 0;
    padding: 0;
    color: var(--blue); 
    font-size:var(--standard_font-size-sem-header);
    font-weight: normal;
}

.Content_1 .action-link{
    margin-top: 37px;
}
.Content_1 a {
   
    color: var(--white);
    background-color: var(--blue);
    padding: 15px 30px; 
    text-decoration: none; 
    transition: 0.4s;
}

.Content_1 a:hover {
    color: var(--blue);
    border: 1px solid var(--dar-blue);;
    background: var(--white);
}

.Section_header .Content_2 {
    max-width: 350.56px;
    max-height: 406.56px;
    min-width: 350.56px;
    min-height: 406.56px; 
    transition: 0.4s;
    background-image: url('/assets/images/Yobu.png');
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: -22px 28px 0px 0px var(--gray);
    border:1px solid var(--blue);
    transition: 0.4s;
   
}
 
@media screen and (max-width: 900px) {
    .Section_header { 
        display: flex;   
        flex-direction: row; 
        width: 100%;
        justify-content: space-between;
    }

    .Section_header .Content_1 h1 {
            color: var(--dar-blue);
            transition: 0.4s;
            font-size: 30px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        } 
        .Section_header .Content_1 p {
            transition: 0.4s;
            margin: 0;
            padding: 0;
            text-align: center;
            margin-bottom: 20px;
            color: var(--blue);
            font-size:17px;
            font-weight: normal;
        } 
}

@media screen and (max-width: 603px) {
    .Section_header {
        display: flex;  
        flex-direction: column;
        display: flex;
        row-gap: 30px;
        width: 100%; 
    }
}
.profile_image{
    margin-top: 10px;
    text-align: center;
    align-self: center; 
}


.section-Under-main{
    display: flex;
    margin-top: 95px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.section-Under-main .card{ 
    transition: 0.4s;
    padding:20px 50px;  
    color: var(--dar-blue);
    border: 1px solid var(--dar-blue);
    box-shadow: -14px 14px 0px 0px var(--gray);
    
}

.section-Under-main .card:hover {
    transform: scale(1.03);
    cursor: pointer;
} 


.section-Under-main .card .card-body h4{ 
    color: var(--dar-blue);
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.section-Under-main .card .card-body p{
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;
    
}

.about-me {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;  
    align-items: center;
    gap: 30px;
}

.about-me .header{
    text-align: center;
    justify-content: center;
}


 
.Content{
    margin-top:20px;
    display: flex;
    column-gap: 40px; 
    row-gap: 40px;
}


.Content .content-left{
    display: flex;    
    max-width: 350.56px;
    max-height: 406.56px;
    min-width: 350.56px;
    min-height: 406.56px;
    background-size: contain;
    box-shadow: -22px 28px 0px 0px var(--gray);
    background-image: url('/assets/images/pankaj-patel-Fi-GJaLRGKc-unsplash.jpg');
}
 

.Content .content-left img { 
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
 
.Content .content-left .img-over img:hover {
    transform: scale(1.03);
}

 

@media screen and (max-width: 901px) {
    .Content {
        flex-wrap: wrap; 
        justify-content: center;

    }
        
        .Content .content-left .img {
            z-index: 0;
            align-self: center;
            margin-left: 0px;
            width: 300px;


        }
        .Content .content-left .img-over{
            display: none;
        }
}
 

.Content .content-right {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
} 

.Content .content-right p {
    color: var(--dar-blue);
    font-size: large;

}

.Content .content-right .about-table {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;;
    box-shadow: -22px 28px 0px 0px var(--gray);
    border: 1px solid var(--dar-blue);
   background-color: #ffff;
    justify-content: space-between;
}

.Content .content-right .about-table .about-me-row-1{
    padding: 15px;
    flex-grow: 1;
    border-right: 1px solid var(--dar-blue);
}

 .Content .content-right .action-link{
    text-align: center;
    margin-top: 60px; 
    align-items: start; 
 }

 .Content .content-right .action-link a{
        color: var(--white);
        background-color: var(--blue);
        padding: 15px 30px; 
        text-decoration: none;
        transition: 0.4s;
 }

  .Content .content-right .action-link a:hover {
     color: var(--blue);
     background: var(--white);
     border: 1px solid var(--dar-blue);
 }

 


  .skills {
      margin-top: 105px;
        margin-bottom: 165px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        justify-self: center;   
  }
 
  .skills .header {
        text-align: center;   
  }
 
  .skills_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-around;
  }

  .skills-rating{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 25px;
    flex-wrap: wrap; 
    flex-direction: column;
    margin-top: 70px;
  }
 
  .skills  .skills-rating .hmtl .html-outer{
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
  }

  .inner-html{
    background-color:var(--blue);
    height: 100%;
    width: 80%;
   
  }

  .skills .skills-rating .css .css-outer {
      background-color: var(--gray);
      width: 300px;
      height: 6px;
     ;
  }

  .inner-css {
      background-color: var(--gray);
      height: 100%;
      width: 80%;
     
  }


  .skills .skills-rating .js .js-outer {
      background-color:var(--gray);
      width: 300px;
      height: 6px;
     ;
  }

  .inner-js {
      background-color: var(--blue);
      height: 100%;
      width: 60%;
     
  }


.skills .skills-rating .php .php-outer {
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-php {
    background-color: var(--blue);
    height: 100%;
    width: 80%;
   
}

.skills .skills-rating .bootstrap .bootstrap-outer {
    background-color:var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-bootstrap {
    background-color: var(--blue);
    height: 100%;
    width: 85%;
   
}
.skills .skills-rating .React .React-outer {
    background-color:var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-React {
    background-color: var(--blue);
    height: 100%;
    width: 60%;
   
}

.skills .skills-rating .laravel .laravel-outer {
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-laravel {
    background-color: var(--blue);
    height: 100%;
    width: 79%;
   
}

.number-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:var(--dar-blue);
}

.number {
    color: var(--blue);
}



.services .header {
    text-align: center;
    
}
 
 
.services-container {
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.services-container .card {
    background-color: var(--darr-blue);
    transition: 0.4s;
    padding: 50px;
   
    min-width: 200px;
    max-width: 200px;

}


.services-container .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.services-container .card .card-body svg {
    width: 4em;
    height: 4em;
    margin: 0px;
    padding: 0px;
}

.services-container .card .card-body .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--blue);
}



.services-container .card .card-body h4 {
    color: var(--white);
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.services-container .card .card-body p {
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;

}



.timelineResume{
    margin-top: 165px;
    max-width: 100%;  
}


.timelineResume .header {
    text-align: center;

}
 

.tmline-container {
    margin-top:60px ;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.left-tmline ,
.right-tmline {
width: 50%;
}

.left-tmline  h1, .right-tmline h1 {
     color: var(--white);
     font-size: 44px;
     padding: 0px;
     margin: 0px;
     text-align: center;
     text-transform: uppercase;
    
} 

@media screen and (max-width: 901px) {

    .left-tmline,
    .right-tmline {
        width: 100%;
    }

    .left-tmline h1,
    .right-tmline h1 {
        font-size: 20px;

    }
}

 .timeline {
    word-break: break-all; 
     color: #fff;
     padding: 30px 20px; 
 }

 .timeline ul {
     list-style-type: none;
     border-left: 2px solid var(--gray);
     padding: 10px 5px; 
 }

 .timeline ul li { 
     padding: 20px 20px;
     position: relative;
     cursor: pointer;
     transition: .5s;
 }

 .timeline ul li span { 
     color: var(--gray);  
     font-size: 13px;
     padding: 10px;
     text-align: center;
 }

 .timeline ul li .content h3 {
     color: var(--white);
     margin: 0;
     font-weight: normal;
     /* font-size: 17px; */
     padding-top: 5px;
 }

 .timeline ul li .content p {
     padding: 5px 0px 15px 0px;
     font-size: 15px;
     color: var(--gray);
 }

 .timeline ul li:before {
     position: absolute;
     content: '';
     width: 50px;
     height: 50px;
     background-color: var(--blue);
    
     left: -33px;
     top: 28px;
     transition: .5s;
 }

.portfolio{
        margin-top: 95px; 
}

.portfolio .header {
    text-align: center;

} 
.portfolio .nav {
    color: var(--white);
    margin: 20px;
    display: flex;
    column-gap: 20px;
}

.portfolio .nav a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

.portfolio .nav .active{
    color: var(--blue);
}
.portfolio .card {
    background-color: var(--darr-blue);
    transition: 0.4s;
   
    min-width: 200px;
    max-width: 200px;
    min-height: 250px;
    max-height: 250px; 

}

.portfolio .card-body {
    background-color: var(--dar-blue);
    margin-top: 200px;
   
    min-width: 100%; 
    padding: 10px;   
    visibility: hidden;
    opacity: 0;     
    align-items: center;
    justify-content: center; 
    transition: .2s;
    transform: translateY(1em); 
    transform: translateX(-0.6em);
    transition: opacity .2s, visibility .2s;
}


.portfolio .card:hover  .card-body {
    visibility: visible;
    opacity: 1;
    
}

 .portfolio .card-body a{
    color: var(--gray); 
 }


 

 .testimonials {
     margin-top: 165px;
     /* margin-bottom: 165px; */
 }

 .testimonials .header {
     text-align: center;

 }
 

  .testimonials .testimonials-container {
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

   .testimonials .testimonials-container .quote {
        align-self: center;
        width: 100px;
   }

   .testimonials .testimonials-container .quote img {
            width: 100%;
            height: 100%;
        }

 .testimonials .testimonials-container em{
    color: var(--white);
    font-weight: normal;
    font-size: 22px;
 }

  .testimonials .testimonials-container .user-profile {
    justify-self: center; 
    text-align: center; 
  }

.testimonials .testimonials-container .user-profile img{
    width: 50px;
    height: 50px;
    justify-self: center;
   
}

.testimonials .testimonials-container .user-profile .user-info {
    display: flex;
    justify-content: center; 
    column-gap: 10px;
}

.testimonials .testimonials-container .user-profile .user-info h4{
    margin: 10px 0 0 0;
    padding: 0;
    color: var(--white);
}
.testimonials .testimonials-container .user-profile .user-info p {
    margin: 0;
    padding: 0;
    color: var(--gray);
}

.testimonials .testimonials-container .testimonails-dots {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.testimonials .testimonials-container .testimonails-dots div{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--blue);
   
}



.blog{
        margin-top: 50px;
        width: 100%;
        /* margin-bottom: 165px; */
    }

.blog {
    margin-top: 140px;
    width: 100%;
    margin-bottom: 165px;
}


.noblog{
    background-color: var(--white);
    padding: 10px 40px;
    color: var(--blue);
}


.blog .header {
    text-align: center;

}
 
.blog-container {
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}
.blog-container .card {
    background-color: var(--darr-blue);
    min-width: 300px;
    max-width: 300px;
    max-height: 350px;
    min-height: 350px;
    position: relative;
   
    transition: 0.4s;
}

.blog-container .car-header {
    background-color: var(--darr-blue);
    transition: 0.4s;
    padding: 50px; 
    height: 30%;
    
   

}
.blog-container .card-body{
        width: 100%;
        padding: 0px 20px;
        
}


.blog-container .card-body h4{
    margin: 0;
    color: var(--white);
    font-weight: normal;
}
.blog-container .card-body p {
    color: var(--gray);
}

.blog-container .card-body a{
    color: var(--blue);
    padding: 0 10px 10px 0;
}
.blog-container .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.contact .header {
    text-align: center;

}
 
.contact-container{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 60px; 
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.contact-container .contact-inner-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 20px;
    row-gap: 20px;
}
.contact-container h5 {
    color: var(--white);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    width: 90%;

}

.contact-container p {
    padding: 0;
    margin: 0;
    color: var(--gray);
}

.contact-inner-right {
    display: flex;
    flex-grow: 1;
    flex-direction: row; 
    flex-wrap: wrap; 
    row-gap: 30px;
    justify-self:center;

}

.form{
    text-align: center;
    width: 100%;
}

.inputs{
    width: 100%;  
    margin-bottom: 20px;  
    display: flex;
    column-gap: 20px; 
    row-gap: 20px;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);
    flex-wrap: wrap;
   
}
.inputs input {
    color: var(--white);
}
.inputs textarea {
    color: var(--white);
}
.textarea{
    width: 100%;   
}

.addres {
    display: flex;
   column-gap: 10px;
    
}

.addres .icon{
background-color: var(--blue);
height: 30px;
width: 30px;
padding: 5px; 
}
.addres>.icon svg{
    width: 30px;
    height: 30px;
}
.addres > .icon {
    margin-top: 20px;
}

.contact-inner-right input { 
    height: 34px;
    border:1px solid var(--gray);
    background: none;
    
    padding: 10px;
    width:100%;
}

.contact-inner-right textarea {
    width: 100%;
    border: 1px solid var(--gray);
    background: none;
    
    padding: 10px;
    height: 60px;
}

.contact-inner-right button {
    background-color: var(--blue);
    color: var(--white);
   
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}


.footer{
    padding: 10px;
    text-align: center;
    margin-top: 90px;
    font-weight: normal;
    color: var(--white);
}

 

/* exptional */
 





























.slider { 
    height: 30vh;
    position: relative;
    overflow: hidden; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; 
    padding-bottom:50px ;
    margin-top: 50px;
}

.slider__nav {
    width: 12px;
    height: 12px;  
    
    outline: 6px solid var(--blue);
    outline-offset: -6px; 
    cursor: pointer; 
    appearance: none; 
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height:fit-content;  
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents { 
    text-align: center;
    display:flex;
    flex-direction: column;
}

.slider__image {
    font-size: 2.7rem; 
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem; 
    text-transform: uppercase;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
}

 