@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root { 
        --blue: #2b7a73;
        /* --dar-blue:#17242a; */
        --white:#FFF0E5;
        --gray:#D9D9D9; 
        --standardFontSizeHeader: 40px;
        --standard_font-size-sem-header:19px;
        --dark-gray:#757575;
        --blue-light:##3aafa9;
        --green-light:#3aafa9;
        --blue-dark:#063c67;
        --color-blue-dark:#182324;
    
}

 html {
     scroll-behavior: smooth;
 }
body{
    margin: 0;
    position: relative;
    font-family: 'Lexend', sans-serif; 
    background-color: #f1f1f1;
    font-weight: normal;
    
   
}

.svg-icon {
    width: 1em;
    height: 1em;
    
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--dar-blue);
}

.svg-icon circle {
    stroke: var(--dar-blue);
    stroke-width: 1;
}

.action-link a {
   
    color: var(--white);
    background-color: var(--blue);
    padding: 15px 30px; 
    text-decoration: none; 
    transition: 0.4s;
}

.action-link a:hover {
    color: var(--blue);
    border: 1px solid var(--dar-blue);;
    background: white;;
}





















@media screen and (min-width: 901px) {
.container {
        margin: 0 13%;
    }
 
}

@media screen and (max-width: 901px) {
.container {
        margin: 0 4%;
    } 
}


.Navbar{ 
    backdrop-filter: blur(20px);
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px;
    transition: 0.4s;
    justify-content:space-between;
    width: 100%; 
    z-index: 1;
}


.burger_button {
    display: none; 
    justify-content: right; 
}
.burger_button .span1{
    background-color: var(--blue);
    display: block;
    width: 30px;
    height: 5px;  
    margin: 5px; 
    
}

.burger_button .span2 {
    background-color: var(--blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}
.burger_button .span3 {
    background-color: var(--blue);
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px;

}
.burger_button .span4 {
    background-color: var(--dar-blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}


.close svg{
    
    color: var(--dar-blue);
    width: 26px;
    height: 35px;
}


@media screen and (min-width: 901px) {

.NavItems_icons {
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: row;
    }
    
.Nav_items {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}
}
#mobile{
    display: none;
}


.header-phone {
    display: none;
}

@media screen and (max-width: 901px) {
    #mobile {
            display: flex;
        }
    #desktop{
        display: none;
    }
    .Navbar {
     
    backdrop-filter: blur(20px);
        }
    
    .NavItems_icons{
        background-color:var(--green-light); 
        position: absolute;
        left: 0;  
        top: 3px;
        width: 100%;
        display:none;
        height: 100vh;
        flex-direction: column;
    }

    .header-phone {
        font-weight: bold;
        margin: 0px 20px;
        display: flex;  
        justify-content: space-between;
    }

         .header-phone div{
            margin-top: 20px;
         }

         .header-phone div i{
            font-size: 20px;
         }


    .Nav_items {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

 
        .burger_button{
            display: block;
        }

    .topnav a.icon {
        float: right;
        display: block;
    }
    
}
 
.logo {
    width: 50px;
    height: 40px;
}

.logo  img {
    width: 100%;
    height: 100%;
}

.Nav_items li a {
    color: var(--dar-blue);
    text-decoration: none;
    font-weight: normal;
    transition: 0.4s;
}

.Nav_items li:hover {
    color: var(--white);
    text-decoration: underline;
}

.Nav_items li .active{
    color: var(--blue);
    text-decoration: underline;
}
 .Nav_items_icons{
    display: flex;    
 }
  .Nav_items_icons hr{
        padding: 0px;
        margin: 0;
        height: 30px;
        margin-top:10px;
        margin-left: 40px;
  }
  
 .Nav_items_icons ul{
    display: flex; 
    column-gap: 10px;
    justify-content: start;
 }

.Nav_items_icons ul li {
    list-style-type:none;
}

@media screen and (min-width: 901px) {
   .Section_header{
        margin: 80px 0; 
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: space-between;
    } 
    .header {
        width: 56%;
    }
}

.header h1 {
    color: var(--dar-blue);
    font-size: 30px;
    padding: 0px;
    font-weight: bold;
    margin: 0px;

}
.header h5 {
    color: var(--blue);
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;


}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
    .header h5 {
        margin: 0;
        font-size: 18px;
        padding: 0;
        font-weight: normal;
    }
}



main{
    min-height: 70vh;
}

.Content_1{
    margin-top: 36px; 
    display: flex;
    gap: 20px;  
    position: relative;
    padding-top: 50px;
}
.start_tag{
    font-size: small;
    color: #2b7a73;;
    font-weight: bold;
}
.Content_1 hr{
    position: absolute;
    left: 30px;
    top: 30%;
    border: 2px solid #2b7a73;
    border-radius: 20px;
    height: 80%;
}


.Content_2{ 
    display: flex;
    gap: 20px;  
    position: relative; 
} 

  .Content_1 .description {
    padding-top:30px ;
}
  .Content_1 h1{ 
    color: var(--color-blue-dark);
    transition: 0.4s;
    font-size: var(--standardFontSizeHeader);
    margin: 10px 0px;
    padding: 0;
    font-weight: bold;
}

 
 .Content_1 p {
    transition: 0.4s;
    margin: 0;
    padding: 0;
    color: var(--blue); 
    font-size:var(--standard_font-size-sem-header);
    font-weight: normal;
}

.Content_1 .action-link{
    margin-top: 37px;
}
.Content_1 a {
   
    color: var(--white);
    background-color: var(--blue);
    padding: 15px 30px; 
    text-decoration: none; 
    transition: 0.4s;
}

.Content_1 a:hover {
    color: var(--blue);
    border: 1px solid var(--dar-blue);;
    background: #2b7a73;;
}
 
 
@media screen and (max-width: 900px) {
    .start_tag{
        display: none;
    }
      .Content_1 hr{
        display: none;
    }
    .Section_header { 
        display: flex;   
        flex-direction: row; 
        width: 100%;
        justify-content: space-between;
    }
 .Content_1 h1 {
            color: var(--dar-blue);
            transition: 0.4s;
            font-size: 30px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        } 
         .Content_1 p {
            transition: 0.4s;
            margin: 0;
            padding: 0;
            text-align: center;
            margin-bottom: 20px;
            color: var(--blue);
            font-size:17px;
            font-weight: normal;
        } 
}

@media screen and (max-width: 603px) {
    .Section_header {
        display: flex;  
        flex-direction: column;
        display: flex;
        row-gap: 30px;
        width: 100%; 
    }
}
.profile_image{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    align-self: center; 
}


.section-Under-main{
    display: flex;
    margin-top: 95px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.section-Under-main .card{ 
    transition: 0.4s;
    padding:5px 50px;  
    color: var(--dar-blue);
    border: 1px solid #2b7a73;
    box-shadow: -14px 8px 0px 0px #2b7a73;;
    
}

.section-Under-main .card:hover {
    transform: scale(1.03);
    cursor: pointer;
} 


.section-Under-main .card .card-body h4{ 
    color: var(--dar-blue);
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.section-Under-main .card .card-body p{
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;
    
}

.about-me {
    margin-top: 100px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    justify-items: center;  
    align-items: center;
    gap: 30px;
}

.about-me .header{ 
    text-align: center;
    justify-content: center;
}


 
.Content{
    margin-top:20px;
    display: flex;
    column-gap: 40px; 
    row-gap: 40px;
}
 
 

@media screen and (max-width: 901px) {
    .Content {
        flex-wrap: wrap; 
        justify-content: center;

    }
        
        .Content .content-left .img {
            z-index: 0;
            align-self: center;
            margin-left: 0px;
            width: 300px;


        }
        .Content .content-left .img-over{
            display: none;
        }
}
 

.Content .content-right {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
} 

.Content .content-right p {
    color: var(--dar-blue);
    font-size: large;

}

.Content .content-right .about-table {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;;
    box-shadow: -22px 28px 0px 0px var(--gray);
    border: 1px solid var(--dar-blue);
   background-color: #ffff;
    justify-content: space-between;
}

.Content .content-right .about-table .about-me-row-1{
    padding: 15px;
    flex-grow: 1;
    border-right: 1px solid var(--dar-blue);
}

.cv-resume{  margin-top: 30px;}
.cv-resume a{
        color: var(--white);
        background-color: var(--blue);
        padding: 10px 15px; 
        text-decoration: none;
        transition: 0.4s;
 }

.cv-resume a:hover {
     color: var(--blue);
    border: 1px solid var(--dar-blue);;
    background: #2b7a73;;
 }

 


  .skills {
      margin-top: 105px;
        margin-bottom: 165px; 
        justify-content: center;
        align-items: center;
        justify-self: center;   
  }
 
  .skills .header {
        text-align: center;   
  }
 
  .skills_container {
    display: flex;
    flex-wrap: wrap;  
    width: 80%; 
    justify-content: space-around;
  }

.skills_container .skills-rating ul{ 
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px; 
    flex-direction: row;
    }
  
 .skills_container .skills-rating   li{
        background: #2b7a73;;
        padding: 5px 7px; 
        color: white;
    }


.portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center; 
}
.portfolio .description ul{
    display:flex;
    gap:30px;
    flex-wrap: wrap;
    list-style-type: none;
}
.portfolio .description li{
    display:flex;gap:10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.portfolio .description li a{  
    text-decoration: none;
    color: var( --color-blue-dark);
}
  




.contact {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        margin-top: 100px;
}

.contact .header {
    text-align: center;
    padding-top: 20px;
}
  
.contact .chat{
    margin-top: 30px;
}


.contact a{ 
    transition: 0.4s;
    padding:5px 50px;  
    color: var(--dar-blue);
    background-color: #2b7a73;
    color: white;
    border: 1px solid #2b7a73;
    box-shadow: -8px 8px 0px 0px #2b7a73;;
    
}

.footer{
    padding: 10px;
    text-align: center;
    margin-top: 90px;
    font-weight: normal;
    background-color:#2b7a73;;
    color: var(--white);
}

 .loggedUser {
    margin-top: 60px;
    background: white;
    width: fit-content;
    padding: 6px;
    border-radius: 19px;
 }

/* exptional */


.model-box{
    background: #fff;
    display: flex;
    padding: 20px 20px 40px 20px;
    position: fixed;
    display: none;
    top: 0;
    max-height: 100vh;
    overflow: auto;
    min-height: 100vh; 
    width: 40%;  
    right: 0;
    transition: 0.4s;
    flex-direction: column;
    z-index: 2;
}


@media screen and (max-width: 900px) {
.model-box {  width: 80%;}
}

.model-box .model-header{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
}

.model-box .model-header .model-close i {
    font-size: 20px;  
    font-weight: 900;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.model-box .model-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
}

.model-box .model-body .form form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    }

.model-box .model-body .form form textarea {  
    border: 1px solid var(--blue);
    color: var(--blue);
    height: 50px;
    padding: 10px;
}

.model-box .model-body .form form button {
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    width: 20%;
    transition: 0.4s;
    border: 1px solid var(--blue);
}

 .model-box .model-body .form form button:hover {
     color: var(--blue); 
     background: var(--white);
     border: 1px solid var(--blue);
    
 }

 .model-box .model-footer .comment{
    width: 100%;
    background-color:#f5f5f5 ;
    display: flex;
    margin-top:20px ;
    flex-direction: column;
 }
  .model-box .model-footer .comment .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.model-box .model-footer .comment .header .profile{
    display: flex;  
    width: 100%;
    column-gap: 10px;

}

.model-box .model-footer .comment .header .image {
min-width: 50px;
min-height: 50px;
max-width: 50px;
max-height: 50px;
}
.model-box .model-footer .comment .header .image img{
width: 100%;
height: 100%;
border-radius: 50%;
}
 
.model-box .model-footer .comment .body{
    margin-left: 30px;
}

.model-box .model-footer .comment .body p{
    color: var(--dark-gray);
}


.error{
    color:red;
}

.dangerous {
     background-color: red;
 }


 .creator{
    padding: 10px;
 }

 .creator p,h4 {
    margin: 0;
    padding: 0;
 }

 .creator {
    min-width: 300px;
    max-width: 300px;
 }
  .creator img {
    width: 100%;
    height: 100%;
  }