@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root { 
        --blue: #10162F; 
        --dar-blue:#10162F;
        --white:#FFF0E5;
        --gray:#D9D9D9; 
        --standardFontSizeHeader: 49px;
        --standard_font-size-sem-header:19px;
        --dark-gray:#757575;
    
}

 html {
     scroll-behavior: smooth;
 }
body{
    margin: 0;
    font-family: 'Lexend', sans-serif; 
    background:var(--white);
    font-weight: normal;
   
}
.svg-icon {
    width: 1em;
    height: 1em;
    
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--dar-blue);
}

.svg-icon circle {
    stroke: var(--dar-blue);
    stroke-width: 1;
}
@media screen and (min-width: 901px) {
.container {
        margin: 0 13%;
    }
 
}

@media screen and (max-width: 901px) {
.container {
        margin: 0 4%;
    } 
}


.Navbar{ 
    background-color: var(--white);
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px;
    transition: 0.4s;
    justify-content:space-between;
    width: 100%; 
}


.burger_button {
    display: none; 
    justify-content: right; 
}
.burger_button .span1{
    background-color: var(--dar-blue);
    display: block;
    width: 30px;
    height: 5px;  
    margin: 5px; 
    
}

.burger_button .span2 {
    background-color: var(--dar-blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}
.burger_button .span3 {
    background-color: var(--dar-blue);
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px;

}
.burger_button .span4 {
    background-color: var(--dar-blue);
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;

}


.close svg{
    
    color: var(--dar-blue);
    width: 26px;
    height: 35px;
}


@media screen and (min-width: 901px) {

.NavItems_icons {
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: row;
    }
    
.Nav_items {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}
}
#mobile{
    display: none;
}


.header-phone {
    display: none;
}

@media screen and (max-width: 901px) {
    #mobile {
            display: flex;
        }
    #desktop{
        display: none;
    }
    .Navbar {
            background: #fff;
        }
    
    .NavItems_icons{
        background-color:white; 
        position: absolute;
        left: 0;  
        top: 3px;
        width: 100%;
        display:none;
        height: 100vh;
        flex-direction: column;
    }

    .header-phone {
        font-weight: bold;
        margin: 0px 20px;
        display: flex;  
        justify-content: space-between;
    }

         .header-phone div{
            margin-top: 20px;
         }

         .header-phone div i{
            font-size: 20px;
         }


    .Nav_items {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

 
        .burger_button{
            display: block;
        }

    .topnav a.icon {
        float: right;
        display: block;
    }
    
}
 
.logo {
    width: 50px;
    height: 40px;
}

.logo  img {
    width: 100%;
    height: 100%;
}

.Nav_items li a {
    color: var(--dar-blue);
    text-decoration: none;
    font-weight: normal;
    transition: 0.4s;
}

.Nav_items li:hover {
    color: var(--white);
    text-decoration: underline;
}

.Nav_items li .active{
    color: var(--blue);
    text-decoration: underline;
}
 .Nav_items_icons{
    display: flex;    
 }
  .Nav_items_icons hr{
        padding: 0px;
        margin: 0;
        height: 30px;
        margin-top:10px;
        margin-left: 40px;
  }
  
 .Nav_items_icons ul{
    display: flex; 
    column-gap: 10px;
    justify-content: start;
 }

.Nav_items_icons ul li {
    list-style-type:none;
}

@media screen and (min-width: 901px) {
   .Section_header{
        margin: 60px 0; 
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: space-between;
    } 
    .header {
        width: 56%;
    }
}

.header h1 {
    color: var(--dar-blue);
    font-size: 30px;
    padding: 0px;
    font-weight: bold;
    margin: 0px;

}
.header h5 {
    color: var(--blue);
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;


}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
    .header h5 {
        margin: 0;
        font-size: 18px;
        padding: 0;
        font-weight: normal;
    }
}






.Section_header .Content_1{
    margin-top: 36px;  
    padding-top: 50px;
}
 
.Section_header .Content_1 h1{
    color: var(--dar-blue);
    transition: 0.4s;
    font-size: var(--standardFontSizeHeader);
    margin: 10px 0px;
    padding: 0;
    font-weight: bold;
}

 
.Section_header .Content_1 p {
    transition: 0.4s;
    margin: 0;
    padding: 0;
    color: var(--blue); 
    font-size:var(--standard_font-size-sem-header);
    font-weight: normal;
}

.Content_1 .action-link{
    margin-top: 37px;
}
.Content_1 a {
   
    color: var(--white);
    background-color: var(--blue);
    padding: 15px 30px; 
    text-decoration: none; 
    transition: 0.4s;
}

.Content_1 a:hover {
    color: var(--blue);
    border: 1px solid var(--dar-blue);;
    background: var(--white);
}

.Section_header .Content_2 {
    max-width: 350.56px;
    max-height: 406.56px;
    min-width: 350.56px;
    min-height: 406.56px; 
    transition: 0.4s;
    background-image: url('./assets/images/Yobu.png');
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: -22px 28px 0px 0px var(--gray);
    border:1px solid var(--blue);
    transition: 0.4s;
   
}
 
@media screen and (max-width: 900px) {
    .Section_header { 
        display: flex;   
        flex-direction: row; 
        width: 100%;
        justify-content: space-between;
    }

    .Section_header .Content_1 h1 {
            color: var(--dar-blue);
            transition: 0.4s;
            font-size: 30px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        } 
        .Section_header .Content_1 p {
            transition: 0.4s;
            margin: 0;
            padding: 0;
            text-align: center;
            margin-bottom: 20px;
            color: var(--blue);
            font-size:17px;
            font-weight: normal;
        } 
}

@media screen and (max-width: 603px) {
    .Section_header {
        display: flex;  
        flex-direction: column;
        display: flex;
        row-gap: 30px;
        width: 100%; 
    }
}
.profile_image{
    margin-top: 10px;
    text-align: center;
    align-self: center; 
}


.section-Under-main{
    display: flex;
    margin-top: 95px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.section-Under-main .card{ 
    transition: 0.4s;
    padding:20px 50px;  
    color: var(--dar-blue);
    border: 1px solid var(--dar-blue);
    box-shadow: -14px 14px 0px 0px var(--gray);
    
}

.section-Under-main .card:hover {
    transform: scale(1.03);
    cursor: pointer;
} 


.section-Under-main .card .card-body h4{ 
    color: var(--dar-blue);
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.section-Under-main .card .card-body p{
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;
    
}

.about-me {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;  
    align-items: center;
    gap: 30px;
}

.about-me .header{
    text-align: center;
    justify-content: center;
}


 
.Content{
    margin-top:20px;
    display: flex;
    column-gap: 40px; 
    row-gap: 40px;
}


.Content .content-left{
    display: flex;    
    max-width: 350.56px;
    max-height: 406.56px;
    min-width: 350.56px;
    min-height: 406.56px;
    background-size: contain;
    box-shadow: -22px 28px 0px 0px var(--gray);
    background-image: url('assets/images/pankaj-patel-Fi-GJaLRGKc-unsplash.jpg');
}
 

.Content .content-left img { 
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
 
.Content .content-left .img-over img:hover {
    transform: scale(1.03);
}

 

@media screen and (max-width: 901px) {
    .Content {
        flex-wrap: wrap; 
        justify-content: center;

    }
        
        .Content .content-left .img {
            z-index: 0;
            align-self: center;
            margin-left: 0px;
            width: 300px;


        }
        .Content .content-left .img-over{
            display: none;
        }
}
 

.Content .content-right {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
} 

.Content .content-right p {
    color: var(--dar-blue);
    font-size: large;

}

.Content .content-right .about-table {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;;
    box-shadow: -22px 28px 0px 0px var(--gray);
    border: 1px solid var(--dar-blue);
   background-color: #ffff;
    justify-content: space-between;
}

.Content .content-right .about-table .about-me-row-1{
    padding: 15px;
    flex-grow: 1;
    border-right: 1px solid var(--dar-blue);
}

 .Content .content-right .action-link{
    text-align: center;
    margin-top: 60px; 
    align-items: start; 
 }

 .Content .content-right .action-link a{
        color: var(--white);
        background-color: var(--blue);
        padding: 15px 30px; 
        text-decoration: none;
        transition: 0.4s;
 }

  .Content .content-right .action-link a:hover {
     color: var(--blue);
     background: var(--white);
     border: 1px solid var(--dar-blue);
 }

 


  .skills {
      margin-top: 105px;
        margin-bottom: 165px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        justify-self: center;   
  }
 
  .skills .header {
        text-align: center;   
  }
 
  .skills_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-around;
  }

  .skills-rating{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 25px;
    flex-wrap: wrap; 
    flex-direction: column;
    margin-top: 70px;
  }
 
  .skills  .skills-rating .hmtl .html-outer{
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
  }

  .inner-html{
    background-color:var(--blue);
    height: 100%;
    width: 80%;
   
  }

  .skills .skills-rating .css .css-outer {
      background-color: var(--gray);
      width: 300px;
      height: 6px;
     ;
  }

  .inner-css {
      background-color: var(--gray);
      height: 100%;
      width: 80%;
     
  }


  .skills .skills-rating .js .js-outer {
      background-color:var(--gray);
      width: 300px;
      height: 6px;
     ;
  }

  .inner-js {
      background-color: var(--blue);
      height: 100%;
      width: 60%;
     
  }


.skills .skills-rating .php .php-outer {
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-php {
    background-color: var(--blue);
    height: 100%;
    width: 80%;
   
}

.skills .skills-rating .bootstrap .bootstrap-outer {
    background-color:var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-bootstrap {
    background-color: var(--blue);
    height: 100%;
    width: 85%;
   
}
.skills .skills-rating .React .React-outer {
    background-color:var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-React {
    background-color: var(--blue);
    height: 100%;
    width: 60%;
   
}

.skills .skills-rating .laravel .laravel-outer {
    background-color: var(--gray);
    width: 300px;
    height: 6px;
   ;
}

.inner-laravel {
    background-color: var(--blue);
    height: 100%;
    width: 79%;
   
}

.number-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:var(--dar-blue);
}

.number {
    color: var(--blue);
}


.services {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
}

.services .header {
    text-align: center; 
    
}
 
 
.services-container {
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.services-container .card {
    background:#fff;
    transition: 0.4s;
    padding: 50px; 
    min-width: 200px; 
    max-width: 200px;
    box-shadow: -22px 28px 0px 0px var(--gray);

}


.services-container .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.services-container .card-header{
    display: flex;
    column-gap: 10px;
}
.services-container .card .card-body img{
    width: 4em;
    height: 3em;
    margin: 0px;
    padding: 0px;
} 

.services-container .card .card-body h4 {
    color: var(--blue); 
    font-weight: bolder;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.services-container .card .card-body p {
    color: var(--dark-gray);
    font-weight: normal;
    font-size: 18px;

}
 
 
 
.portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        margin-top: 95px; 
}

.portfolio .header {
    text-align: center;

} 
.portfolio .nav {
    color: var(--white);
    margin: 20px;
    display: flex;
    column-gap: 20px;
}

.portfolio .nav a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

.portfolio .nav .active{
    color: var(--blue);
}
.portfolio .card {
    background-color: var(--darr-blue);
    transition: 0.4s; 
    min-width: 200px;
    max-width: 200px;
    min-height: 250px;
    max-height: 250px; 

}


.portfolio .services-container .card {
    background: #fff;
    transition: 0.4s;
    padding: 50px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid var(--blue);
    box-shadow:none; 

}

.portfolio .card-body {
    background-color: var(--dar-blue);
    margin-top: 200px;  
    min-width: 100%; 
    padding: 10px;   
    visibility: hidden;
    opacity: 0;     
    color:#fff;
    align-items: center;
    justify-content: center; 
    transition: .2s;
    transform: translateY(1em); 
    transform: translateX(-0.6em);
    transition: opacity .2s, visibility .2s;
}

.portfolio .services-container .card-body h4 {
    color: #ffff;
}
.portfolio .card:hover  .card-body {
    visibility: visible;
    text-align: center;
    opacity: 1;
    
}

 .portfolio .card-body a{
    color: var(--white); 
 }

  
.blog { 
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    margin-bottom: 165px;
}


.noblog{
    background-color: var(--white);
    padding: 10px 40px;
    color: var(--blue);
}


.blog .header {
    text-align: center;

}
 
.blog-container { 
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog .blog-container .card{ 
    margin: 0px;  
    padding: 10px 0 0px 10px ;
    border: 1px solid var(--blue);
}
.blog .blog-container .card .white-background{
 background-color: #fff; 
 gap: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 0 -15px -15px 0;
 padding: 20px;
}


.blog .blog-container .card .white-background .card-body{
 width: 70%;
 /* background-color: red; */
 flex-grow: 1;
}
 
.blog .blog-container .card .white-background .card-header{
    width: 180px; 
    height: 180px;
    border: 1px solid var(--blue);
    
    display: block;
}
.blog .blog-container .card .white-background p {
    margin: 6px 0;
    padding: 0px;
}

.blog .blog-container .card .white-background a {
    text-decoration: none;
    color: var(--dark-gray);
}

.blog .blog-container .card .white-background h4 {
    margin: 5px 0;
    color: var(--dar-blue);
    font-size: 40px;
    padding: 0px;
}


@media screen and (max-width: 900px) {
    .blog .blog-container .card .white-background h4 {
    font-size: 20px;
    }

    .blog .blog-container .card .white-background p {
        font-size: 12px;
    }
    .blog .blog-container .card .white-background .card-header {
        width: 100%;
    }
        .blog-container {
            width: 100%;
        }
}

.blog .blog-container .card .white-background .card-footer{
display: flex;
flex-wrap: wrap;
margin-top: 10px;
color: var(--blue);
font-weight: bold;
justify-content: space-between;
}

.blog .blog-container .card .white-background .card-footer .icon-footer{
display: flex;
justify-content: space-around;
column-gap: 20px;
}

.blogOpen{
    margin-top: 30px;
    width: 90%;

}

.blogOpen .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.blogOpen .header p {
    padding: 0;
    margin: 0;
}
.blogOpen .header img {
    width: 100%;
}
.contact-footer {
    /* background-color: red; */
    display: flex;
    width: 100%;

    justify-content: flex-end;
}
.icon-footer{
    display: flex;
    gap: 30px;
    justify-items: end;
}







.contact {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        margin-top: 100px;
}

.contact .header {
    text-align: center;

}
 
.contact-container{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 60px; 
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.contact-container .contact-inner-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 20px;
    row-gap: 20px;
}
.contact-container h5 {
    color: var(--white);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    /* display: ; */
    font-weight: normal;
    width: 90%;

}

.contact-container p {
    padding: 0;
    margin: 0;
    color: var(--dar-blue);
}

.contact-inner-right {
    display: flex;
    flex-grow: 1;
    flex-direction: row; 
    flex-wrap: wrap; 
    row-gap: 30px;
    justify-self:center;

}

.form{
    text-align: center;
    width: 100%;
}

.inputs{ 
    margin-bottom: 20px;  
    display: flex;
    column-gap: 20px; 
    row-gap: 20px;
    justify-content: center;
    flex-grow: 1;
    width: 100%; 
    flex-direction: column;
    color: var(--white);
    /* flex-wrap: wrap; */
   
}
.inputs .emailname{
    display: flex;
    width: 100%;  
    column-gap: 20px;
    justify-content: space-between;
}
.inputs input {
    width: 50%;
    border: 1px solid var(--blue);
    color: var(--dar-blue);
}
.inputs textarea {
    border: 1px solid var(--blue);
    color: var(--dar-blue);
}
.textarea{
    width: 100%;   
}

.addres {
    display: flex;
   column-gap: 10px;
    
}

.addres .icon{
background-color: var(--blue);
height: 30px;
width: 30px;
padding: 5px; 
}
.addres .icon svg{
    width: 30px; 
    height: 30px;
}
.addres .icon {
    margin-top: 20px;
}
.addres .icon  path,
.svg-icon polygon,
.svg-icon rect {
    fill:#ffff;
}

.addres .iconcircle {
    stroke:#ffff;
    stroke-width: 1;
}
.contact-inner-right input { 
    height: 34px;
    border:1px solid var(--dar-blue);
    background: none; 
    padding: 10px;
    width:100%;
}

.contact-inner-right textarea {
    width: 100%;
    border: 1px solid var(--dar-blue);
    background: none;
    
    padding: 10px;
    height: 60px;
}

.contact-inner-right button {
    background-color: var(--blue);
    color: var(--white); 
    padding: 15px 20px;
    border: none;
    margin-top: 20px;
}


.footer{
    padding: 10px;
    text-align: center;
    margin-top: 90px;
    font-weight: normal;
    background-color: var(--blue);
    color: var(--white);
}

 .loggedUser {
    margin-top: 60px;
    background: white;
    width: fit-content;
    padding: 6px;
    border-radius: 19px;
 }

/* exptional */


.model-box{
    background: #fff;
    display: flex;
    padding: 20px;
    position: fixed;
    display: none;
    top: 0;
    max-height: 100vh;
    overflow: auto;
    min-height: 100vh; 
    width: 40%;  
    right: 0;
    transition: 0.4s;
    flex-direction: column;
}


@media screen and (max-width: 900px) {
.model-box {  width: 80%;}
}

.model-box .model-header{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
}

.model-box .model-header .model-close i {
    font-size: 20px;  
    font-weight: 900;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.model-box .model-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
}

.model-box .model-body .form form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    }

.model-box .model-body .form form textarea {  
    border: 1px solid var(--blue);
    color: var(--blue);
    height: 50px;
    padding: 10px;
}

.model-box .model-body .form form button {
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    width: 20%;
    transition: 0.4s;
    border: 1px solid var(--blue);
}

 .model-box .model-body .form form button:hover {
     color: var(--blue); 
     background: var(--white);
     border: 1px solid var(--blue);
    
 }

 .model-box .model-footer .comment{
    width: 100%;
    /* background-color: ; */
    display: flex;
    margin-top:40px ;
    flex-direction: column;
 }
  .model-box .model-footer .comment .header{
    display: flex;
    justify-content: space-between;
  }

.model-box .model-footer .comment .header .profile{
    display: flex;
    flex-grow: 1; 
    /* background-color: red; */
    column-gap: 10px;

}

.model-box .model-footer .comment .header .image {
width: 50px;
height: 50px;
}
.model-box .model-footer .comment .header .image img{
width: 100%;
height: 100%;
border-radius: 50%;
}
 
.model-box .model-footer .comment .body{
    margin-left: 30px;
}

.model-box .model-footer .comment .body p{
    color: var(--dark-gray);
}